# Pandas Sidetable

In [1]:
import pandas as pd
import numpy as np

In [2]:
bikes = pd.read_csv('day.csv')
bikes.head()

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,01-01-2018,1,0,1,0,6,0,2,14.110847,18.18125,80.5833,10.749882,331,654,985
1,2,02-01-2018,1,0,1,0,0,0,2,14.902598,17.68695,69.6087,16.652113,131,670,801
2,3,03-01-2018,1,0,1,0,1,1,1,8.050924,9.47025,43.7273,16.636703,120,1229,1349
3,4,04-01-2018,1,0,1,0,2,1,1,8.200000,10.60610,59.0435,10.739832,108,1454,1562
4,5,05-01-2018,1,0,1,0,3,1,1,9.305237,11.46350,43.6957,12.522300,82,1518,1600

In [3]:
import sidetable

In [4]:
bikes['weekday'].value_counts()

6    105
1    105
0    105
5    104
4    104
2    104
3    103
Name: weekday, dtype: int64

In [5]:
bikes['weekday'].value_counts(normalize=True)

6    0.143836
1    0.143836
0    0.143836
5    0.142466
4    0.142466
2    0.142466
3    0.141096
Name: weekday, dtype: float64

In [7]:
bikes.stb.freq(['weekday'])

   weekday  Count   Percent  Cumulative Count  Cumulative Percent
0        6    105  0.143836               105            0.143836
1        1    105  0.143836               210            0.287671
2        0    105  0.143836               315            0.431507
3        5    104  0.142466               419            0.573973
4        4    104  0.142466               523            0.716438
5        2    104  0.142466               627            0.858904
6        3    103  0.141096               730            1.000000

In [8]:
for i in list(bikes.columns):
    print(bikes.stb.freq([i]))

     instant  Count  Percent  Cumulative Count  Cumulative Percent
0        730      1  0.00137                 1            0.001370
1        729      1  0.00137                 2            0.002740
2        728      1  0.00137                 3            0.004110
3        727      1  0.00137                 4            0.005479
4        726      1  0.00137                 5            0.006849
..       ...    ...      ...               ...                 ...
725        5      1  0.00137               726            0.994521
726        4      1  0.00137               727            0.995890
727        3      1  0.00137               728            0.997260
728        2      1  0.00137               729            0.998630
729        1      1  0.00137               730            1.000000

[730 rows x 5 columns]
         dteday  Count  Percent  Cumulative Count  Cumulative Percent
0    31-12-2019      1  0.00137                 1            0.001370
1    31-12-2018      1  0.00137                 2            0.002740
2    31-10-2019      1  0.00137                 3            0.004110
3    31-10-2018      1  0.00137                 4            0.005479
4    31-08-2019      1  0.00137                 5            0.006849
..          ...    ...      ...               ...                 ...
725  01-03-2018      1  0.00137               726            0.994521
726  01-02-2019      1  0.00137               727            0.995890
727  01-02-2018      1  0.00137               728            0.997260
728  01-01-2019      1  0.00137               729            0.998630
729  01-01-2018      1  0.00137               730            1.000000

[730 rows x 5 columns]
   season  Count   Percent  Cumulative Count  Cumulative Percent
0       3    188  0.257534               188            0.257534
1       2    184  0.252055               372            0.509589
2       1    180  0.246575               552            0.756164
3       4    178  0.243836               730            1.000000
   yr  Count  Percent  Cumulative Count  Cumulative Percent
0   1    365      0.5               365                 0.5
1   0    365      0.5               730                 1.0
    mnth  Count   Percent  Cumulative Count  Cumulative Percent
0     12     62  0.084932                62            0.084932
1     10     62  0.084932               124            0.169863
2      8     62  0.084932               186            0.254795
3      7     62  0.084932               248            0.339726
4      5     62  0.084932               310            0.424658
5      3     62  0.084932               372            0.509589
6      1     62  0.084932               434            0.594521
7     11     60  0.082192               494            0.676712
8      9     60  0.082192               554            0.758904
9      6     60  0.082192               614            0.841096
10     4     60  0.082192               674            0.923288
11     2     56  0.076712               730            1.000000
   holiday  Count   Percent  Cumulative Count  Cumulative Percent
0        0    709  0.971233               709            0.971233
1        1     21  0.028767               730            1.000000
   weekday  Count   Percent  Cumulative Count  Cumulative Percent
0        6    105  0.143836               105            0.143836
1        1    105  0.143836               210            0.287671
2        0    105  0.143836               315            0.431507
3        5    104  0.142466               419            0.573973
4        4    104  0.142466               523            0.716438
5        2    104  0.142466               627            0.858904
6        3    103  0.141096               730            1.000000
   workingday  Count   Percent  Cumulative Count  Cumulative Percent
0           1    499  0.683562               499            0.683562
1           0    231  0.316438               730            1.000000
   weathersit  Count   Percent  Cumulative Count  Cumulative Percent
0           1    463  0.634247               463            0.634247
1           2    246  0.336986               709            0.971233
2           3     21  0.028767               730            1.000000
          temp  Count   Percent  Cumulative Count  Cumulative Percent
0    26.035000      5  0.006849                 5            0.006849
1    10.899153      5  0.006849                10            0.013699
2    29.144153      4  0.005479                14            0.019178
3    28.563347      4  0.005479                18            0.024658
4    27.880000      4  0.005479                22            0.030137
..         ...    ...       ...               ...                 ...
493   5.227500      1  0.001370               726            0.994521
494   4.407500      1  0.001370               727            0.995890
495   3.993043      1  0.001370               728            0.997260
496   3.957390      1  0.001370               729            0.998630
497   2.424346      1  0.001370               730            1.000000

[498 rows x 5 columns]
         atemp  Count   Percent  Cumulative Count  Cumulative Percent
0    32.734400      4  0.005479                 4            0.005479
1    31.850400      3  0.004110                 7            0.009589
2    18.781050      3  0.004110                10            0.013699
3    36.206050      2  0.002740                12            0.016438
4    35.164600      2  0.002740                14            0.019178
..         ...    ...       ...               ...                 ...
684   5.896500      1  0.001370               726            0.994521
685   5.808750      1  0.001370               727            0.995890
686   5.082900      1  0.001370               728            0.997260
687   4.941955      1  0.001370               729            0.998630
688   3.953480      1  0.001370               730            1.000000

[689 rows x 5 columns]
         hum  Count   Percent  Cumulative Count  Cumulative Percent
0    61.3333      4  0.005479                 4            0.005479
1    75.2917      3  0.004110                 7            0.009589
2    74.1250      3  0.004110                10            0.013699
3    72.9583      3  0.004110                13            0.017808
4    72.2917      3  0.004110                16            0.021918
..       ...    ...       ...               ...                 ...
589  29.0000      1  0.001370               726            0.994521
590  27.5833      1  0.001370               727            0.995890
591  25.4167      1  0.001370               728            0.997260
592  18.7917      1  0.001370               729            0.998630
593   0.0000      1  0.001370               730            1.000000

[594 rows x 5 columns]
     windspeed  Count  Percent  Cumulative Count  Cumulative Percent
0    15.333486      3  0.00411                 3            0.004110
1    11.250104      3  0.00411                 6            0.008219
2    11.166689      3  0.00411                 9            0.012329
3    10.042161      3  0.00411                12            0.016438
4     9.166739      3  0.00411                15            0.020548
..         ...    ...      ...               ...                 ...
644   3.125550      1  0.00137               726            0.994521
645   3.042356      1  0.00137               727            0.995890
646   3.042081      1  0.00137               728            0.997260
647   2.834381      1  0.00137               729            0.998630
648   1.500244      1  0.00137               730            1.000000

[649 rows x 5 columns]
     casual  Count   Percent  Cumulative Count  Cumulative Percent
0       968      4  0.005479                 4            0.005479
1       120      4  0.005479                 8            0.010959
2       775      3  0.004110                11            0.015068
3       653      3  0.004110                14            0.019178
4       639      3  0.004110                17            0.023288
..      ...    ...       ...               ...                 ...
600      41      1  0.001370               726            0.994521
601      34      1  0.001370               727            0.995890
602      25      1  0.001370               728            0.997260
603      15      1  0.001370               729            0.998630
604       2      1  0.001370               730            1.000000

[605 rows x 5 columns]
     registered  Count  Percent  Cumulative Count  Cumulative Percent
0          6248      3  0.00411                 3            0.004110
1          4841      3  0.00411                 6            0.008219
2          1707      3  0.00411                 9            0.012329
3          5847      2  0.00274                11            0.015068
4          5711      2  0.00274                13            0.017808
..          ...    ...      ...               ...                 ...
673         472      1  0.00137               726            0.994521
674         451      1  0.00137               727            0.995890
675         432      1  0.00137               728            0.997260
676         416      1  0.00137               729            0.998630
677          20      1  0.00137               730            1.000000

[678 rows x 5 columns]
      cnt  Count  Percent  Cumulative Count  Cumulative Percent
0    7534      2  0.00274                 2            0.002740
1    6883      2  0.00274                 4            0.005479
2    6824      2  0.00274                 6            0.008219
3    6591      2  0.00274                 8            0.010959
4    6536      2  0.00274                10            0.013699
..    ...    ...      ...               ...                 ...
690   605      1  0.00137               726            0.994521
691   506      1  0.00137               727            0.995890
692   441      1  0.00137               728            0.997260
693   431      1  0.00137               729            0.998630
694    22      1  0.00137               730            1.000000

[695 rows x 5 columns]

### We can set a threshold on cumulative Percentage

In [10]:
bikes.stb.freq(['weekday'], thresh= 0.7, other_label='other days')

      weekday  Count   Percent  Cumulative Count  Cumulative Percent
0           6    105  0.143836               105            0.143836
1           1    105  0.143836               210            0.287671
2           0    105  0.143836               315            0.431507
3           5    104  0.142466               419            0.573973
4  other days    311  0.426027               730            1.000000

### Pass Multiple columns to see more Specific Distribution

In [13]:
bikes.stb.freq(['season','yr'])

   season  yr  Count   Percent  Cumulative Count  Cumulative Percent
0       3   1     94  0.128767                94            0.128767
1       3   0     94  0.128767               188            0.257534
2       2   1     92  0.126027               280            0.383562
3       2   0     92  0.126027               372            0.509589
4       1   1     90  0.123288               462            0.632877
5       1   0     90  0.123288               552            0.756164
6       4   1     89  0.121918               641            0.878082
7       4   0     89  0.121918               730            1.000000

In [14]:
bikes.stb.freq(['season','yr'], thresh=.5)

   season      yr  Count   Percent  Cumulative Count  Cumulative Percent
0       3       1     94  0.128767                94            0.128767
1       3       0     94  0.128767               188            0.257534
2       2       1     92  0.126027               280            0.383562
3  Others  Others    450  0.616438               730            1.000000

In [17]:
bikes[bikes.season == 1].stb.freq(['weekday'])

   weekday  Count   Percent  Cumulative Count  Cumulative Percent
0        6     27  0.150000                27            0.150000
1        0     27  0.150000                54            0.300000
2        5     26  0.144444                80            0.444444
3        1     26  0.144444               106            0.588889
4        4     25  0.138889               131            0.727778
5        2     25  0.138889               156            0.866667
6        3     24  0.133333               180            1.000000

In [19]:
bikes[bikes.season == 4].stb.freq(['weekday'])

   weekday  Count   Percent  Cumulative Count  Cumulative Percent
0        2     26  0.146067                26            0.146067
1        1     26  0.146067                52            0.292135
2        0     26  0.146067                78            0.438202
3        6     25  0.140449               103            0.578652
4        5     25  0.140449               128            0.719101
5        4     25  0.140449               153            0.859551
6        3     25  0.140449               178            1.000000

In [23]:
bikes.stb.freq(['weathersit'], value='windspeed', style = True)

Thank you Chris Moffitt 
Thank you Soner Yıldırım